<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-card class="example-card">

    <mat-card-title>Login in to your account</mat-card-title>
    <br>
    <ion-button expand="block">Continue with Google</ion-button>
    <br>
  
    <mat-label>Email</mat-label>
    <br>
    <input matInput>
    <br>
    <mat-label>Password</mat-label>
    <br>
    <input matInput>
    <br>
    <mat-checkbox>Remember me</mat-checkbox>
    <br>
    <ion-button expand="block">Login</ion-button>
  
    <a href="forget-password"> Forgot Password? </a>

    <hr width="10px">

    <h3>Don't have an account?<a href="/usersignup">Sign up</a></h3>
    <h3>Are you a carwow dealer?<a href="/dealerlogin">Log in as a dealer</a></h3>


  </mat-card>
 

</ion-content>
