<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <!-- suppose engine page is the one which has the start bidding button,on presing which the dealer will join the bidding session..............
      </ion-title> -->
Engines    </ion-title>
    </ion-toolbar>
</ion-header>
<!-- <input type="text" [(ngModel)]="user" class="form-control"id="username"> -->
<ion-content>
  <!-- {{onedata}} -->
<!-- <ion-button (click)="createNewSession()" [routerLink]="['/customer-bidding-session']" [queryParams]="{ session_id:the_data}">Start Bidding</ion-button> -->
<!-- <ion-button (click)="createNewSession()" href="/customer-bidding-session">Start Bidding</ion-button> -->

<div class="ion-padding">
  <ion-row class="horizontal-cards" size-lg="12" size-md="6" size-xs="4">
    <!-- <ion-col *ngFor="let item of onedata" size="12"> -->
    
      <div style="width:98%;margin-left: 1%;margin-right: 1%;background-color:  white; border-style: solid;border-color:seagreen;border-width: 3px;border-radius: 13px;">
        <span style="float:left;width:45%; height:5px;"> <ion-label color="warning" style="font-size:larger; float: left; margin-top:2%;margin-left:2%;color:black"><strong><a></a> {{onedata}} </strong></ion-label> 
        <br/>
        <br/><br/><br/><br/><br/>
          <!-- <ion-button expand="block" style="float:left;margin-left:4px;border-style: solid;border-radius:8px ;" (click)="createNewSession()" >Start Bidding</ion-button> -->
        </span>
        <img style="float:right; width:23%; height: 100%; border-style: solid; border-radius: 13px;"  src="./assets/icon/images.jpg"/>
      </div>
      <div style="margin-top: 5%;float:right">
      <ion-button style="float: right;background-color: green;margin-right: 60px;border-style: solid;border-radius: 8px;height:36px;width: 150px;"  (click)="createNewSession()" color="Success">
        Done</ion-button>
      </div>
    <!-- <ion-col size="12" >
      <div><ion-card style="border-radius: 20px;border-style:solid; background-color:lightblue; border-color:crimson;  border-width: 1px"> 
       
        <ion-card-header>
          <img  src="./assets/icon/images.jpg">
          
        </ion-card-header>
        <ion-card-content> -->
          <!-- <ion-button style="font-size:larger;" [routerLink]="['/engine']" [queryParams]="{ trim:item._id}" color="danger">select</ion-button> -->
          <!-- <ion-button expand="block" (click)="createNewSession()" href="/customer-bidding-session">Start Bidding</ion-button> -->
          <!-- <ion-button expand="block" (click)="createNewSession()" >Start Bidding</ion-button>
        
        </ion-card-content>
      </ion-card>
    </div> -->
    <!-- <p style="width:100%;" ion-item *ngFor="let bidding of the_data">car: {{bidding.car_id}} & its trim {{bidding.trim_id}}</p> -->
    <!-- </ion-col> -->
    </ion-row>
  </div> 
  
</ion-content> 
