<ion-header>
  
  <ion-toolbar color="primary">
    <h3 class="example" slot="start">AutoDeal</h3>
    <h1><ion-title  class="ion-text-center"><strong>Your Bidding Sessions</strong></ion-title></h1>     
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="">
    <div *ngIf="loading=='false'">
      <ion-list>
        <ion-item style="display: flex; justify-content: space-between;" *ngFor="let bidding of biddings.slice().reverse()">
          <ion-label color="tertiary"><strong>{{bidding.targetCar.Condition}}&nbsp;  {{bidding.targetCar.Make}} {{bidding.targetCar.Model}}&nbsp; <br> <ion-row style="margin-top: 6px;"> {{bidding.targetCar.Trim_name}}&nbsp;&nbsp;</ion-row> </strong></ion-label>
          <ion-label style="font-size: small;"><ion-row> Start TIme : {{bidding.started_at.time}}</ion-row> <ion-row> Start Date : {{bidding.started_at.date}}</ion-row></ion-label>      
          <ion-badge  matTooltip="{{bidding.unseen}} new offer(s) from dealers"  *ngIf="bidding.unseen>0" color="warning"><strong>{{bidding.unseen}}</strong> NEW !</ion-badge> 
          &nbsp;&nbsp;&nbsp;                              
          <!-- <ion-button  (click)="join(bidding._id)" href="/bidding-session" color="tertiary"> -->
          <ion-button  [routerLink]="['/bidding-session']" [queryParams]="{ session_id:bidding._id,user:true }"    color="tertiary">
            Participate &nbsp;
          <ion-icon name="open-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <!-- {{dataz|json}} -->
    </div>
  
    <div *ngIf="loading=='true'">
      <ion-list>
        <ion-item *ngFor="let item of skeletonlist">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
  
      </ion-list>
    </div>
  </ion-content>