<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dealerlogin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div  style="width: 100%;text-align:center;margin-top: 50px;">
    <mat-card style="display:inline-block; border-radius: px;border-style: double;border-color:mediumblue;" class="example-card">

    <mat-card-title>Dealer Login</mat-card-title>
    <br>
    <mat-label *ngIf="er==1" style="text-align: center;font-size: large;color:red;">&nbsp;&nbsp;&nbsp;&nbsp;Wrong Username or Password!</mat-label>
    <br>
    <mat-label style="font-size: larger;text-align:initial;"><b>Dealership Name</b></mat-label>&nbsp;<ion-icon name="mail-outline"></ion-icon>
    <br>
    <input matInput  [(ngModel)]="name">
    <br>
    <mat-label style="font-size: larger;text-align:left;"><b>Password</b></mat-label>&nbsp;<ion-icon name="key-outline"></ion-icon>
    <br>
    <input matInput type="password" [(ngModel)]="password">
    <br>
    <mat-checkbox>Remember me</mat-checkbox>
    <br>
    <h3>Don't have an account?<a href="/registerdealer"> Register</a></h3>
    <a href="forget-password"> Forgot Password? </a>
    <br>
    <ion-button expand="block" (click)="save()">Log in</ion-button>
    <!-- [(ngModel)]="messageText -->
   </mat-card>
  </div>
 
</ion-content>
