<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dealerlogin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-card class="example-card">

    <mat-card-title>Dealer dashboard login</mat-card-title>
    <br>
    
    <mat-label>Dealership Name</mat-label>
    <br>
    <input matInput>
    <br>
    <mat-label>Password</mat-label>
    <br>
    <input matInput>
    <br>
    <mat-checkbox>Remember me</mat-checkbox>
    <br>
    <h3>Don't have an account?<a href="/registerdealer"> Register</a></h3>
    <a href="forget-password"> Forgot Password? </a>
    <br>
    <ion-button expand="block">Log in</ion-button>

  </mat-card>


</ion-content>
