<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dealer Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div  style="width: 100%;text-align:center;margin-top: 50px;">
    <mat-card style="display:inline-block; border-radius: px;border-style: double;border-color:mediumblue;" class="example-card">

    <mat-card-title>Get the best deal on your new car</mat-card-title>
    <mat-card-subtitle><strong>top deals from local and national dealers are only a click away.</strong></mat-card-subtitle>
  
    <ion-button expand="block">Continue with Google</ion-button>
    
    <br>

    <mat-label>Dealership Name</mat-label>
    <br>
    <input matInput  [(ngModel)]="name">
    <br>

    <mat-label>Password</mat-label>
    <br>
    <input matInput type="password" [(ngModel)]="password">
    <br>

    <h3>Address Information</h3>
    
    <mat-label>Street</mat-label>
    <br>
    <input matInput  [(ngModel)]="street">
    <br>

    <mat-label>City</mat-label>
    <br>
    <input matInput  [(ngModel)]="city">
    <br>

    <mat-label>State</mat-label>
    <br>
    <input matInput  [(ngModel)]="state">
    <br>

    <mat-label>Zip Code</mat-label>
    <br>
    <input matInput  [(ngModel)]="zipcode">
    <br>

    <h3>Contact Information</h3>
    
    <mat-label>Phone</mat-label>
    <br>
    <input matInput  [(ngModel)]="phone">
    <br>

    <mat-label>Email</mat-label>
    <br>
    <input matInput  [(ngModel)]="email">
    <br>

    <br>
    <ion-button expand="block"  (click)="save()">Create an account</ion-button>

  </mat-card>
</div>
</ion-content>
