<ion-header>
  <ion-toolbar>
    <ion-title>displayCars</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cars">
      <ion-label><strong><a color="danger"></a>{{item.MAKE}}  {{item.Model}}</strong></ion-label>  
      
    <ion-button  [routerLink]="['/choose-cartype']" [queryParams]="{ car:item._id}"    color="tertiary">
      Get offers &nbsp;
    <ion-icon name="open-outline"></ion-icon>
    </ion-button>
   </ion-item>
  </ion-list>
</ion-content> -->


<ion-content>
  {{noofcarsrows}}
<div class="ion-padding">
  <ion-row class="horizontal-cards" style="width:100%">
    <ion-col *ngFor="let item of cars" size-lg="4" size-sm="6" size-md="6" size-xs="12">
      <div><ion-card color="light">
        <img src="./assets/icon/3549909.jpg">
        <ion-card-header>
          <ion-card-title>{{item.MAKE}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-card-title>
          <ion-card-subtitle style="font-size: x-large;">{{item.Model}}</ion-card-subtitle>
          <ion-card-title><Strong style="color:darkcyan">Starting Pirce</Strong> : ${{item.Trims[0].Price}} </ion-card-title>
        </ion-card-header>
      
       <ion-button expand="block" style="height:45px;" [routerLink]="['/choose-cartype']" [queryParams]="{ car:item._id}" color="tertiary"> Get offers &nbsp;</ion-button>  
      </ion-card>
    </div>
    </ion-col>
    </ion-row>
  </div> 
</ion-content>