<ion-header>
  <ion-toolbar>
    <ion-title>invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div><h1 style="text-align: center;">Auto Deal Invoice</h1></div>


  <div *ngIf="P!=undefined" ><ion-card style="background-color:white; border-style:ridge;border-color: whitesmoke"> 
          
    <ion-card-content>

      <h1>&nbsp;&nbsp;&nbsp;Cash Deal Invoice</h1>
      <ion-label style="font-size: xx-large;">&nbsp;&nbsp;Dealership : </ion-label><ion-label style="font-size: xx-large;color:cornflowerblue;"><strong>&nbsp;{{dn}}</strong>&nbsp;&nbsp;</ion-label> 
      <br>
      <ion-label style="font-size: xx-large;">&nbsp;&nbsp;Customer : </ion-label><ion-label style="font-size: xx-large;color:cornflowerblue;"><strong>&nbsp;{{c}}</strong>&nbsp;&nbsp;</ion-label> 
          <br/>
          <ion-label style="font-size: xx-large;">&nbsp;&nbsp;Car : <b style="margin-bottom: 6px;margin-top:75%;margin-left: 5px;margin-right: 5px;color:brown;font-size: larger;">{{con}} {{make}}{{model}} {{Trim_name}}</b></ion-label> 
          <br/>
          <ion-item-divider>
            <ion-label style="font-size: xx-large;">Price Set :</ion-label><p style="color:brown; margin-top: 0.5%;"><b style="font-size: xx-large;"> &nbsp;${{P}} </b></p> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        </ion-item-divider>
      
<p style="color:blue;margin-top: 0.5%;"><b style="font-size: x-large;">&nbsp;&nbsp;&nbsp;&nbsp;{{inct}}</b></p>
<b *ngIf="d" style="color:gold;font-size: x-large;">&nbsp;&nbsp;&nbsp;&nbsp;Delivery is Available</b>   
<br/> 
        <ion-label style="float:left;font-size: larger;">&nbsp;&nbsp;&nbsp;<strong><a color="success">Dealer Phone #  </a>{{ph}}  &nbsp;&nbsp; <a color="success">Email : </a>{{em}}</strong></ion-label>             
        <br/> 
        <ion-label style="float:right;font-size: larger;"><strong><a color="success">Dated : </a>{{dt}}  &nbsp;&nbsp; <a color="success">Time : </a>{{time}}</strong></ion-label>   
        <br/> 
      </ion-card-content>
      <!-- *ngIf="role==1" -->
   </ion-card>
   </div>



   <div *ngIf="!P" ><ion-card style="background-color:white; border-style:ridge;border-color: whitesmoke"> 
          
    <ion-card-content>

      <h1 style="color:green;">&nbsp;&nbsp;&nbsp;Lease Deal Invoice</h1>
      <ion-label style="font-size: xx-large;">&nbsp;&nbsp;Dealership : </ion-label><ion-label style="font-size: xx-large;color:cornflowerblue;"><strong>&nbsp;{{dn}}</strong>&nbsp;&nbsp;</ion-label> 
      <br>
      <ion-label style="font-size: xx-large;">&nbsp;&nbsp;Customer : </ion-label><ion-label style="font-size: xx-large;color:cornflowerblue;"><strong>&nbsp;{{c}}</strong>&nbsp;&nbsp;</ion-label> 
          <br/>
          <br/>
        
          <ion-label style="font-size: xx-large;">&nbsp;&nbsp;Car : <b style="margin-bottom: 6px;margin-top:75%;margin-left: 5px;margin-right: 5px;color:brown;font-size: larger;">{{con}} {{make}}{{model}} {{Trim_name}}</b></ion-label> 
          <br/>
          <br/>
          <ion-item-divider>
            <ion-row>
            <ion-label style="font-size: xx-large;">Lease Dues  </ion-label><p style="color:brown; margin-top: 0.5%;"><b style="font-size: xx-large;"> ${{md}} / month</b></p>&nbsp;&nbsp;&nbsp;
          </ion-row>
          <br>
          <ion-row>
            <ion-label style="font-size: xx-large;">&nbsp;Initial Payment  </ion-label><p style="color:brown; margin-top: 0.5%;"><b style="font-size: xx-large;"> &nbsp;${{ip}}</b></p> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </ion-row>
          <br>
          <ion-row>
            <ion-label style="font-size: xx-large;">&nbsp;&nbsp;&nbsp;Contract length  </ion-label><p style="text-decoration: brown;color:brown; margin-top: 0.5%;"><b style="font-size: xx-large;"> &nbsp;&nbsp;&nbsp;&nbsp;{{cl}} months</b></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </ion-row>
          <br>
          <ion-row>
            <ion-label style="font-size: xx-large;">Max-miles/year  </ion-label><p style="color:brown; margin-top: 0.5%;"><b style="font-size: xx-large;"> &nbsp;{{maxmpy}}</b></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      
          </ion-row>
          </ion-item-divider>
<p style="color:blue;margin-top: 0.5%;"><b style="font-size: x-large;">&nbsp;&nbsp;&nbsp;&nbsp;{{inct}}</b></p>
<b *ngIf="d" style="color:gold;font-size: x-large;">&nbsp;&nbsp;&nbsp;&nbsp;Delivery is Available</b>   
<br/> 
<ion-label style="float:left;font-size: larger;">&nbsp;&nbsp;&nbsp;<strong><a color="success">Dealer Phone #  </a>{{ph}}  &nbsp;&nbsp; <a color="success">Email : </a>{{em}}</strong></ion-label>             
<br/>       
      
        <ion-label style="float:right;font-size: larger;"><strong><a color="success">Dated : </a>{{dt}}  &nbsp;&nbsp; <a color="success">Time : </a>{{time}}</strong></ion-label>   
        <br/> 
      </ion-card-content>
      <!-- *ngIf="role==1" -->
   </ion-card>
   </div>








</ion-content>
