<ion-header>
  <ion-toolbar color="primary">
    <ion-title>User Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-card class="example-card">

    <mat-card-title>Get the best deal on your new car</mat-card-title>
    <mat-card-subtitle>Top deals from local and national dealers are only a click away.</mat-card-subtitle>
  
    <ion-button expand="block">Continue with Google</ion-button>
    
    
    <mat-label>Name</mat-label>
    <br>
    <input matInput>
    <br>


    <mat-label>Email</mat-label>
    <br>
    <input matInput>
    <br>

    
    <mat-label>Password</mat-label>
    <br>
    <input matInput>
    <br>

    <br>
    <ion-button expand="block">Create an account</ion-button>

  </mat-card>


</ion-content>
