<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar color="primary">
  <ion-title >
   <h1 class="example">AutoDeal</h1> 
  </ion-title>

  <ion-buttons slot="end">
   <ion-button class="eg" fill="clear" routerLink="/user-login" routerLinkActive="active">
      &nbsp; &nbsp;
      <ion-icon name="person-outline"></ion-icon>
       Login
    </ion-button>
  </ion-buttons>
<!-- ==================================================== -->
<ion-buttons slot="primary">
    <ion-button  class="eg" fill="clear" href="/dealer-dashboard" >
      New Cars
    </ion-button>
  </ion-buttons>
<!-- ======================================================= -->
  <ion-buttons slot="primary">
    <ion-button fill="clear" class="eg">
      Used Cars
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button  fill="clear" class="eg">
      Car Reviews
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button fill="clear" class="eg">
      Car Leasing
    </ion-button>
  </ion-buttons>
  

  <ion-buttons slot="primary">
    <ion-button fill="clear" class="eg"  href="/engine" >
      Car Deals
    </ion-button>
  </ion-buttons>

</ion-toolbar>


<ion-card class ="one">
  <img  src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg" />
</ion-card>
<a class="centered">The car buying compaison site</a>

<br>

<div class="ion-padding">
<ion-row class="horizontal-cards">
  <ion-col>
    <div><ion-card color="light">
      <img src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg">
      <ion-card-header>
        <ion-card-title>Skoda</ion-card-title>
        <ion-card-subtitle>Kamiq</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Manufacturer deposit contribution increased by £250 to £1,750 lala bad
      </ion-card-content>
      <ion-button expand="block">Available Deals</ion-button>  
    </ion-card></div>
  </ion-col>
  <ion-col>
    <div><ion-card color="light">
      <img src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg">
      <ion-card-header>
        <ion-card-title>Skoda</ion-card-title>
        <ion-card-subtitle>Kamiq</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Manufacturer deposit contribution increased by £250 to £1,750 lala bad
      </ion-card-content>
      <ion-button expand="block">Available Deals</ion-button>
    </ion-card></div>
  </ion-col>
  <ion-col>
    <div><ion-card color="light">
      <img src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg">
      <ion-card-header>
        <ion-card-title>Skoda</ion-card-title>
        <ion-card-subtitle>Kamiq</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Manufacturer deposit contribution increased by £250 to £1,750 lala bad
      </ion-card-content>
      <ion-button expand="block">Available Deals</ion-button>
    </ion-card></div>
  </ion-col>
</ion-row>
</div> 


<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
  <p>All rights reserved!</p>
</ion-footer>

</ion-content>
