<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <div >
    <mat-toolbar color="primary" class="eg">
      <mat-toolbar-row>
        <button mat-icon-button matTooltip="Click to open side menu" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-md>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="btnn"><a style="color:white;text-decoration: none;" href="/home">AutoDeal</a></span>
        
        
      <span *ngIf="role!=0"  class="menu-spacer"></span>
       <div fxShow="true" fxHide.lt-lg>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <button mat-button slot="primary" class="btn" [routerLink]="['/display-cars']">
           New cars
          </button>
          <div fxFlex></div>
          <button mat-button slot="primary" class="btn"  [routerLink]="['/usedcars']">
            Used cars
          </button>
          <button mat-button slot="primary" class="btn">
            Car reviews
          </button>
          <button mat-button slot="primary" class="btn" [routerLink]="['/lease-deals']">
            Car leasing
          </button>
          <button mat-button slot="primary" class="btn" [routerLink]="['/car-deals']">
            Car deals
          </button>
          <button mat-button slot="primary" class="btn">
            Electric cars
          </button>
      
  
        </div>
       <div class ="nav"></div>
       
       <ion-buttons *ngIf="login==null" slot="end"> 
        <ion-button class="eg new" fill="clear" href="/userlogin">
           &nbsp; &nbsp;
           <ion-icon name="person-outline"></ion-icon>
           
            Login
         </ion-button>
       </ion-buttons>
     <!-- ==================================================== -->
     <ion-buttons *ngIf="login==1" slot="end"> 
       &nbsp; &nbsp;
       <!-- <div  matTooltip="Active user : {{name}}"  matTooltipClass="example-tooltip-red" style="border-radius: 29px;font-size:larger;display:inline-block; border-radius: px;border-style:solid;border-color:yellow"><ion-badge>{{letter}}</ion-badge></div> -->
       <div  matTooltip="Active user : {{name}}"  matTooltipClass="example-tooltip-red" style="background-color: tomato;text-align: center; width:37px;border-radius: 199px;font-size:20px;display:inline-block;border-style:solid;border-color:white">{{letter}}</div>
       <ion-button class="eg" fill="clear"  (click)="logoutt()">
         
           Log out
        
          </ion-button>
      </ion-buttons>
       <!-- <button mat-button class="btnm"><mat-icon>person</mat-icon>&nbsp;Log in</button> -->
  
      </mat-toolbar-row >
       
     
  <mat-toolbar-row style="margin-top: -10px;">
    <div fxShow="true" fxHide.lt-lg>

      <ion-buttons  style="margin-left:770px"  *ngIf="role==1"  slot="end">
        <ion-button  matTooltip="Click to see Accepted offers' list " class="btnd" href="/customer-accept-list">
          Accepted Offer
          <!-- <ion-icon name="notifications" ></ion-icon> -->
          <!-- <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
         </ion-button>
        <ion-button  matTooltip="Click to see bidding sessions' list " expand="block"  class="btnd" href="/bidding">
          Offers
          <!-- <ion-icon name="notifications" ></ion-icon> -->
          <mat-icon *ngIf="cno!=0" matBadge={{cno}} matBadgeColor="warn" matBadgeSize="large" name="notifications">notification_important</mat-icon>
          <!-- <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
         </ion-button>
      </ion-buttons>
    
      
    <ion-buttons  style="margin-left:770px"  *ngIf="role==0"  slot="end">
      <ion-button  matTooltip="Click to see Accepted offers' list " class="btnd" href="/acceptlist">
        Accepted Offer
        <!-- <ion-icon name="notifications" ></ion-icon> -->
        <mat-icon *ngIf="info.accept!=0" matBadge={{info.accept}} matBadgeColor="warn" matBadgeSize="large" name="notifications">notification_important</mat-icon>
        <!-- <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
       </ion-button>
      <ion-button  matTooltip="Click to see bidding sessions' list " expand="block"  class="btnd" href="/bidding">
        Bidding Sessions
        <!-- <ion-icon name="notifications" ></ion-icon> -->
        <mat-icon *ngIf="info.notification!=0" matBadge={{info.notification}} matBadgeColor="warn" matBadgeSize="large" name="notifications">notification_important</mat-icon>
        <!-- <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
       </ion-button>
    </ion-buttons>
  
  </div>  
  </mat-toolbar-row>   
  </mat-toolbar>


 <!-- class="any" -->
   <mat-sidenav-container fxFlexFill >
    
    <mat-sidenav-content class="an">
      <ion-card class ="one">
        <img src="./assets/icon/SONATA-hero-option1-764A5360-edit.jpg" />
      </ion-card>
      <a class="centeredsm"  fxHide.gt-sm>The car buying comparison site</a>
      <a class="centered" fxHide="true" fxShow.gt-sm>The car buying comparison site</a>
      <div class="ion-padding">
        <ion-row class="horizontal-cards" style="width:100%">
          <ion-col *ngFor="let item of cars" size-lg="4" size-sm="6" size-md="6" size-xs="12">
            <div><ion-card>
              <img [src]="item.Pic_path">
              <!-- <img src="./assets/icon/SONATA-hero-option1-764A5360-edit.jpg"> -->
              <ion-card-header>
                <ion-card-title>{{item.MAKE}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-card-title>
                <ion-card-subtitle style="font-size: x-large;color: black;">{{item.Model}}</ion-card-subtitle>
                <ion-item-divider></ion-item-divider>
                <br/>RRP<br/>
                <ion-card-title><Strong style="font-size: x-large;">${{item.Trims[0].Price}} </Strong> </ion-card-title>
              </ion-card-header>
             <ion-button expand="block"  style="height:45px;margin-left: 2%;margin-right: 2%;margin-bottom: 2%;" [routerLink]="['/choose-cartype']" [queryParams]="{ car:item._id}" color="success"> Get offers &nbsp;</ion-button>  
            </ion-card>
          </div>
          </ion-col>
          </ion-row>
      </div>
       <strong  style="font-size: x-large;"> &nbsp;&nbsp;&nbsp;&nbsp;     You May Also Like :  </strong>
        <hr><hr>


 
 <ion-grid fixed >
  <ion-row>

   <ion-col size="12">
  <ion-segment scrollable style="margin-left:0;margin-right:0;">
   <div *ngFor="let item of the_data" >
              <ion-card color="light" style="margin-top: 20px;height:450px;width:150%;margin-right: 160px;padding-right: 0px;" >
                <ion-card-header>
                  <img style="height:200px" src="./assets/icon/3549909.jpg">
                  <ion-card-title>{{item.car_make}}&nbsp;&nbsp;{{item.car_Model}}</ion-card-title>
                <ion-card-title style="font-size:large;">{{item.trim_name}}</ion-card-title>
              <ion-card-title><Strong style="color:cornflowerblu0e">Pirce</Strong> : ${{item.trim_Price}} </ion-card-title>  
                  <ion-button expand="block" style="height:45px;" [routerLink]="['/choose-cartype']" [queryParams]="{ car:item.car_id}" color="tertiary"> Get offers &nbsp;</ion-button>  
                </ion-card-header>
              <ion-card-content>
               
              </ion-card-content>
             
              </ion-card>
          </div>

  </ion-segment>

 </ion-col>

 </ion-row>


 </ion-grid>





    </mat-sidenav-content>

    <mat-sidenav class="any" #sidenav>
      
      <mat-nav-list>
        <a (click)="sidenav.toggle()"  mat-list-item><strong>close&nbsp;</strong><ion-icon style="color: crimson;margin-top: 2px;" name="close-outline"></ion-icon></a>
        <br>
        <ion-buttons  *ngIf="role==0"  slot="primary">
          &nbsp;&nbsp;&nbsp;<ion-button  expand="block"  class="btnr" href="/bidding">
            Bidding Sessions
            <!-- <ion-icon   *ngIf="info.notification!=0" matBadge={{info.notification}} matBadgeColor="warn" matBadgeSize="large" name="notifications" ></ion-icon> -->
            <mat-icon *ngIf="info.notification!=0" matBadge={{info.notification}} matBadgeColor="warn"  name="notifications">notification_important</mat-icon>
            &nbsp;
            <!--matBadgeSize="large" <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
           </ion-button>
        </ion-buttons>


        <ion-buttons   *ngIf="role==1"  slot="primary">
          <ion-button  matTooltip="Click to see Accepted offers' list " class="btnr" href="/customer-accept-list">
            Accepted Offer
            <!-- <ion-icon name="notifications" ></ion-icon> -->
            <!-- <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
           </ion-button>
           </ion-buttons>
           
           <ion-buttons   *ngIf="role==1"  slot="primary">
           <br>
          <ion-button  matTooltip="Click to see offers' list " expand="block"  class="btnr" href="/customer-bidding">
            Offers
            <!-- <ion-icon name="notifications" ></ion-icon> -->
            <mat-icon *ngIf="cno!=0" matBadge={{cno}} matBadgeColor="warn" matBadgeSize="small" name="notifications">notification_important</mat-icon>
            <!-- <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
           </ion-button>
        </ion-buttons>
    


        <hr>
        <button mat-button class="b" [routerLink]="['/display-cars']">New cars</button><br>
        <hr>
        <button mat-button class="b"  [routerLink]="['/usedcars']">Used cars</button><br>
        <hr>
        <button mat-button class="b">Car reviews</button><br>
        <hr>
        <button mat-button class="b" [routerLink]="['/lease-deals']" >Car leasing</button><br>
        <hr>
        <button mat-button class="b" [routerLink]="['/car-deals']" >Car deals</button><br>
        <hr>
        <button mat-button class="b">Electric Cars</button><br>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div> 

</ion-content>