<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
   <!-- <ion-toolbar color="primary">
  <ion-title >
   <h1 class="example"><a style="color:white;text-decoration: none;" href="/home">AutoDeal</a></h1> 
  </ion-title>

  <ion-buttons *ngIf="login==null" slot="end">
   <ion-button class="eg" fill="clear" href="/userlogin">
      &nbsp; &nbsp;
      <ion-icon name="person-outline"></ion-icon>
       Log in
    </ion-button>
  </ion-buttons> -->
<!-- ==================================================== -->
 <!-- <ion-buttons *ngIf="login==1" slot="end">
  &nbsp; &nbsp;
   <div  matTooltip="Active user : {{name}}"  matTooltipClass="example-tooltip-red" style="border-radius: 29px;font-size:larger;display:inline-block; border-radius: px;border-style:solid;border-color:yellow"><ion-badge>{{letter}}</ion-badge></div>  -->
  <!-- <div  matTooltip="Active user : {{name}}"  matTooltipClass="example-tooltip-red" style="background-color: tomato;text-align: center; width:30px;border-radius: 199px;font-size:larger;display:inline-block; border-radius: px;border-style:solid;border-color:white">{{letter}}</div>-->
  <!-- <ion-button class="eg" fill="clear"  (click)="logoutt()">
    
      Log out
   </ion-button>
 </ion-buttons>  -->

<!-- ==================================================== -->
 <!-- <ion-buttons slot="primary">
    <ion-button  class="eg" fill="clear" href="/dealer-dashboard" >
      New Cars
    </ion-button>
  </ion-buttons> 
 </ion-toolbar> -->
   <!-- ======================================================= -->


<!-- <<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>
__________________________________________ -->
<!-- style="height: 120vh;" -->
<div >
  <mat-toolbar color="primary" class="eg">
    <mat-toolbar-row>
      <button mat-icon-button matTooltip="Click to open side menu" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-md>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="btnn"><a style="color:white;text-decoration: none;" href="/home">AutoDeal</a></span>
      


      <span *ngIf="role!=0"  class="menu-spacer"></span>
       <div fxShow="true" fxHide.lt-lg>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->

        
        <button mat-button slot="primary" class="btn" href="/dealer-dashboard">
           New cars
          </button>
          <div fxFlex></div>
          <button mat-button slot="primary" class="btn">
            Used cars
          </button>
          <button mat-button slot="primary" class="btn">
            Car reviews
          </button>
          <button mat-button slot="primary" class="btn">
            Car leasing
          </button>
          <button mat-button slot="primary" class="btn">
            Car deals
          </button>
          <button mat-button slot="primary" class="btn">
            Electric cars
          </button>
      
          
         <!-- <button mat-button  *ngIf="role==0" slot="primary" class="btn" href="/bidding">
            Bidding Sessions
          <ion-icon name="notifications" ></ion-icon>
          <ion-badge  *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>     
          </button> 
     -->



        </div>
       <div class ="nav"></div>
       
       <ion-buttons *ngIf="login==null" slot="end"> 
        <ion-button class="eg" fill="clear" href="/userlogin">
           &nbsp; &nbsp;
           <ion-icon name="person-outline"></ion-icon>
           
            Login
         </ion-button>
       </ion-buttons>
     <!-- ==================================================== -->
     <ion-buttons *ngIf="login==1" slot="end"> 
       &nbsp; &nbsp;
       <!-- <div  matTooltip="Active user : {{name}}"  matTooltipClass="example-tooltip-red" style="border-radius: 29px;font-size:larger;display:inline-block; border-radius: px;border-style:solid;border-color:yellow"><ion-badge>{{letter}}</ion-badge></div> -->
       <div  matTooltip="Active user : {{name}}"  matTooltipClass="example-tooltip-red" style="background-color: tomato;text-align: center; width:37px;border-radius: 199px;font-size:20px;display:inline-block;border-style:solid;border-color:white">{{letter}}</div>
       <ion-button class="eg" fill="clear"  (click)="logoutt()">
         
           Log out
        
          </ion-button>
      </ion-buttons>
       <!-- <button mat-button class="btnm"><mat-icon>person</mat-icon>&nbsp;Log in</button> -->
  
      </mat-toolbar-row >
       
     
  <mat-toolbar-row style="margin-top: -10px;">
    <div fxShow="true" fxHide.lt-lg>

      
    <ion-buttons  style="margin-left:1040px"  *ngIf="role==0"  slot="end">
      <ion-button  matTooltip="Click to see bidding sessions' list " expand="block"  class="btnd" href="/bidding">
        Bidding Sessions
        <!-- <ion-icon name="notifications" ></ion-icon> -->
        <mat-icon *ngIf="info.notification!=0" matBadge={{info.notification}} matBadgeColor="warn" matBadgeSize="large" name="notifications">notification_important</mat-icon>
        <!-- <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
       </ion-button>
    </ion-buttons>
  
  </div>  
  </mat-toolbar-row>   
  </mat-toolbar>


 <!-- class="any" -->
   <mat-sidenav-container fxFlexFill >
    
    <mat-sidenav-content class="an">
      <ion-card class ="one">
        <img src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg" />
      </ion-card>
      <a class="centered">The car buying comparison site</a>
      <div class="ion-padding">
        <ion-row class="horizontal-cards" style="width:100%">
          <ion-col *ngFor="let item of cars" size-lg="4" size-sm="6" size-md="6" size-xs="12">
            <div>
              <ion-card color="light">
              <img src="./assets/icon/3549909.jpg">
              <ion-card-header>
                <ion-card-title>{{item.MAKE}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-card-title>
                <ion-card-subtitle style="font-size: x-large;">{{item.Model}}</ion-card-subtitle>
                <ion-card-title><Strong style="color:darkcyan">Starting Pirce</Strong> : ${{item.Trims[0].Price}} </ion-card-title>
              </ion-card-header>
            
             <ion-button expand="block" style="height:45px;" [routerLink]="['/choose-cartype']" [queryParams]="{ car:item._id}" color="tertiary"> Get offers &nbsp;</ion-button>  
            </ion-card>
          </div>
          </ion-col>
          </ion-row>
      </div>
      
      

       <strong *ngIf="flag=='1'" style="font-size: x-large;"> &nbsp;&nbsp;&nbsp;&nbsp;     You May Also Like :  </strong>
        <hr><hr>


<!-- 
        <div *ngIf="flag=='1'" class="ion-padding">
          <ion-row class="horizontal-cards" style="width:100%">
            <ion-col *ngFor="let item of the_data" size-lg="4" size-sm="6" size-md="6" size-xs="12">
              <div><ion-card color="light">
                <img src="./assets/icon/3549909.jpg">
                <ion-card-header>
                  <ion-card-title>{{item.car_make}}&nbsp;&nbsp;{{item.car_Model}}</ion-card-title>
                  <ion-card-subtitle style="font-size:large;">{{item.trim_name}}</ion-card-subtitle>
                  <ion-card-title><Strong style="color:cornflowerblue">Pirce</Strong> : ${{item.trim_Price}} </ion-card-title>
                </ion-card-header>
              
               <ion-button expand="block" style="height:45px;" [routerLink]="['/choose-cartype']" [queryParams]="{ car:item.car_id}" color="tertiary"> Get offers &nbsp;</ion-button>  
              </ion-card>
            </div>
            </ion-col>
            </ion-row>
          </div> -->

        <!-- <ion-slides pager="true" [options]="slideopts" style="height: 100%;" >  
            <ion-slide  *ngFor="let item of the_data" > 
              
              <ion-card color="light">
             
                <ion-card-header>
                  <img style="height:250px" src="./assets/icon/3549909.jpg">
                 
                </ion-card-header>
              <ion-card-content>
                <ion-card-title>{{item.car_make}}&nbsp;&nbsp;{{item.car_Model}}</ion-card-title>
                <ion-card-subtitle style="font-size:large;">{{item.trim_name}}</ion-card-subtitle>
                <ion-card-title><Strong style="color:cornflowerblue">Pirce</Strong> : ${{item.trim_Price}} </ion-card-title>
              </ion-card-content>
               <ion-button expand="block" style="height:45px;" [routerLink]="['/choose-cartype']" [queryParams]="{ car:item.car_id}" color="tertiary"> Get offers &nbsp;</ion-button>  
              </ion-card>

            </ion-slide> 
           
            </ion-slides> -->



            <ion-grid fixed >
<ion-row>

<ion-col size="12">
<ion-segment scrollable style="left:0;right:0;">
<div *ngFor="let item of the_data" >
              <ion-card color="light" style="margin-top: 20px;border-style: solid;border-color:royalblue;height:450px;width:150%;margin-right: 160px;padding-right: 0px;" >
             
                <ion-card-header>
                  <img style="height:200px" src="./assets/icon/3549909.jpg">
                  <h2>{{item.car_make}}&nbsp;&nbsp;{{item.car_Model}}</h2>
                  <h3 style="font-size:large;">{{item.trim_name}}</h3>
                  <h2><Strong style="color:cornflowerblue">Pirce</Strong> : ${{item.trim_Price}} </h2>  
                  <ion-button expand="block" style="height:45px;" [routerLink]="['/choose-cartype']" [queryParams]="{ car:item.car_id}" color="tertiary"> Get offers &nbsp;</ion-button>  
                </ion-card-header>
              <ion-card-content>
               
              </ion-card-content>
             
              </ion-card>
          </div>

</ion-segment>

</ion-col>

</ion-row>


            </ion-grid>








<!-- <div *ngFor="let item of the_data" class="category-block">

<ion-row no-padding class="category-banner">
<ion-col text-left button tappable (click)="cat.expanded = !cat.expand" align-self-center>
{{cat.caegory}}
</ion-col>
</ion-row>
<ion-sldes [options]="sliderConfig">

</ion-sldes>

        <<ion-list>
           
            </ion-item>
            <ion-item>
            </ion-item>
         </ion-list> 
          </div> -->






    </mat-sidenav-content>

    <mat-sidenav class="any" #sidenav>
      
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item><strong>close&nbsp;</strong><ion-icon style="color: crimson;margin-top: 2px;" name="close-outline"></ion-icon></a>
        <br>
        <ion-buttons  *ngIf="role==0"  slot="primary">
          &nbsp;&nbsp;&nbsp;<ion-button  expand="block"  class="btnr" href="/bidding">
            Bidding Sessions
            <!-- <ion-icon   *ngIf="info.notification!=0" matBadge={{info.notification}} matBadgeColor="warn" matBadgeSize="large" name="notifications" ></ion-icon> -->
            <mat-icon *ngIf="info.notification!=0" matBadge={{info.notification}} matBadgeColor="warn"  name="notifications">notification_important</mat-icon>
            &nbsp;
            <!--matBadgeSize="large" <ion-badge   *ngIf="info.notification!=0"  color="danger">{{info.notification}}</ion-badge>      -->
           </ion-button>
        </ion-buttons>
        <hr>
        <button mat-button class="b">New cars</button><br>
        <hr>
        <button mat-button class="b">Used cars</button><br>
        <hr>
        <button mat-button class="b">Car reviews</button><br>
        <hr>
        <button mat-button class="b">Car leasing</button><br>
        <hr>
        <button mat-button class="b">Car deals</button><br>
        <hr>
        <button mat-button class="b">Electric Cars</button><br>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div> 

<!-- __________________________________________
<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>> -->












 




</ion-content>
